@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>LatteStand</h1>
    <p class="lead">Click Register To Create A Customer Profile</p>
    <p>@Html.ActionLink("Register","Create","Customers")</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ADMIN ONLY</h2>
        <p>
            This is for the Admin to make changes to the data base
        </p>
        <p>@Html.ActionLink("Admin-Customers","Create","Customers")</p>
        <p>@Html.ActionLink("Admin-Products","Index","Products")</p>

    </div>
    <div class="col-md-4">
        <h2>View Our Products</h2>
        <p>This is an ever growing list of our products</p>
        <p>@Html.ActionLink("Products","CustIndex","Products")</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>